/* ===== 全局 ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#f7f4ee;
    color:#444;

    font-family:
    "Helvetica Neue",
    "PingFang SC",
    sans-serif;

    line-height:1.9;
}

/* ===== 导航 ===== */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:28px 8%;
    border-bottom:1px solid #d9cfc0;

    background:#f7f4ee;

    position:sticky;
    top:0;
    z-index:999;
}

.logo{

    font-size:1.1rem;
    letter-spacing:2px;
}

nav a{

    text-decoration:none;
    color:#555;

    margin-left:28px;

    transition:0.3s;
}

nav a:hover,
nav a.active{

    color:#8d7762;
}

/* ===== 首页 ===== */

.hero{

    max-width:900px;

    margin:120px auto;

    text-align:center;

    padding:0 20px;
}

.hero h1{

    font-size:2.4rem;
    font-weight:300;

    margin-bottom:25px;
}

.hero p{

    color:#777;
}

.intro{

    max-width:900px;
    margin:auto;

    padding:0 20px 100px;
}

.card{

    background:#fbfaf7;

    border:1px solid #e4dbcf;

    border-radius:10px;

    padding:40px;
}

/* ===== 标题 ===== */

.page-title{

    text-align:center;
    margin:80px 0;
}

.page-title h1{

    font-weight:300;
}

/* ===== 瀑布流 ===== */

.gallery{

    column-count:3;
    column-gap:24px;

    width:90%;
    max-width:1300px;

    margin:auto;
}

.gallery-item{

    break-inside:avoid;

    margin-bottom:24px;

    background:#fbfaf7;

    border-radius:8px;

    overflow:hidden;

    border:1px solid #e8dfd4;
}

.gallery-item img{

    width:100%;

    display:block;

    cursor:pointer;

    transition:0.4s;
}

.gallery-item img:hover{

    opacity:0.92;
}

.gallery-item p{

    padding:14px 16px 20px;

    font-size:0.92rem;
    color:#666;
}

/* ===== 关于 ===== */

.about{

    max-width:900px;

    margin:100px auto;

    padding:0 20px;
}

.about h1{

    text-align:center;
    margin-bottom:50px;

    font-weight:300;
}

/* ===== 图片预览 ===== */

#lightbox{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.92);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

#previewImage{

    max-width:90%;
    max-height:90%;
}

.close{

    position:absolute;

    top:20px;
    right:35px;

    color:white;

    font-size:40px;

    cursor:pointer;
}

/* ===== Footer ===== */

footer{

    text-align:center;

    padding:60px 20px;

    color:#999;
}

/* ===== 平板 ===== */

@media(max-width:900px){

    .gallery{
        column-count:2;
    }

    .hero h1{
        font-size:2rem;
    }
}

/* ===== 手机 ===== */

@media(max-width:600px){

    .navbar{

        flex-direction:column;
        gap:15px;
    }

    nav a{

        margin:0 12px;
    }

    .gallery{

        column-count:1;
    }

    .hero{

        margin:80px auto;
    }

    .hero h1{

        font-size:1.6rem;
    }

    .card{

        padding:28px;
    }
}